body {
 padding-top: 70px;
 background:url("../img/background5.png");
 background-repeat: repeat;
 background-attachment:fixed
 }

#selfIntroduction{
	



}

#professionalSkill{
	


}

#course{
	


}

#gallery{
	

}

#footer{



}

#yue {
	height: 400px;
	position: relative;
	top: 200px;
}